{% extends 'templates/nhs_q_and_a.html' %}

{% block banner %}

{% include "includes/nhs.uk/banner_this_is_new_page.html" %}


{% endblock %}


{% block pageTitle %}Find a place that can help with{% endblock %}

{% block pageIntro %}
<ul>
  <li>treating headaches at home</li>
</ul>
{% endblock %}


{% block content %}
<form class="form" id="formname">


<div class="form-item-wrapper">
<fieldset>
<legend class="form-label-bold">Can you get there by yourself?</legend>

<p class="form-label">
 <!-- label -->
</p>



 <div class="form-group">
   <input type="radio" id="no" name="able" onclick="document.getElementById('formname').action='111';document.getElementById('submit')">
   <label for="no" class="form-control-radio">
    No
  </label>
 </div>

 <div class="form-group">
   <input type="radio" id="yes" name="able" onclick="document.getElementById('formname').action='enter_postcode_or_address';document.getElementById('submit')">
   <label for="yes" class="form-control-radio">
    Yes
  </label>
 </div>

</div>



<div class="form-item-wrapper">
<div class="form-group">


<input type="submit" class="button" value="Continue">

</div>
</div>

<p></p>
<p>If you are not looking for help, <a href="GO_BACK">go back</a>.</p>


</form>

{% endblock %}
